process {

    // error strategy
    errorStrategy = { task.attempt < 3 ? 'retry' : 'finish' }
    maxRetries = 3

    // basic resources
    cpus = 1
    time = { 1.h * task.attempt }
    memory = { 1.GB * task.attempt }

    // process-specific resources
    withName: BOWTIE2_BUILD_INDEX {
        cpus = 10
    }
    withName: BOWTIE2_ALIGN {
        cpus = 10
        memory = { 32.GB * task.attempt }
        time = { 8.h * task.attempt }
    }
    withName: TRIMGALORE {
        cpus = 10
        memory = { 16.GB * task.attempt }
        time = { 8.h * task.attempt }
    }
    withName: TRIM_DPM {
        cpus = 10
        memory = { 16.GB * task.attempt }
        time = { 8.h * task.attempt }
    }
    withName: EXTRACT_BCS {
        cpus = 8
        memory = { 16.GB * task.attempt }
        time = { 8.h * task.attempt }
    }
    withName: FILTER_ALIGNMENTS {
        memory = { 16.GB * task.attempt }
        time = { 8.h * task.attempt }
    }
    withName: MAKE_CLUSTER_PAIRS {
        memory = { 32.GB * task.attempt }
        time = { 4.h * task.attempt }
    }
    withName: SORT_BED {
        memory = { 32.GB * task.attempt }
        time = { 1.h * task.attempt }
    }
    withName: MAKE_PAIRIX {
        memory = { 32.GB * task.attempt }
        time = { 4.h * task.attempt }        
    }
    withName: CLUSTER_BASE_COOLERS {
        memory = { 32.GB * task.attempt }
        time = { 4.h * task.attempt }             
    }
    withName: MERGE_CLUSTER_COOLERS {
        memory = { 64.GB * task.attempt }
        time = { 8.h * task.attempt }          
    }
    withName: MERGE_REPLICATE_COOLERS {
        cpus = 10
        memory = { 64.GB * task.attempt }
        time = { 8.h * task.attempt }            
    }
    withName: ZOOMIFY_COOLER {
        cpus = 10
        memory = { 64.GB * task.attempt }
        time = { 8.h * task.attempt }    
    }
    withName: BALANCE_MCOOL {
        cpus = 10
        memory = { 200.GB * task.attempt }
        time = { 8.h * task.attempt }    
    }
    withName: ANNOTATE_COOLERS {
        memory = { 64.GB * task.attempt }
        time = { 8.h * task.attempt }    
    }
}

timeline {
	enabled = true
}

report {
	enabled = true
}