params {
	genomes {
		'GRCh37' {
			star        = "${params.igenomes_base}/Homo_sapiens/Ensembl/GRCh37/Sequence/STARIndex/"
			bowtie2     = "${params.igenomes_base}/Homo_sapiens/Ensembl/GRCh37/Sequence/Bowtie2Index/"
			gtf         = "${params.igenomes_base}/Homo_sapiens/Ensembl/GRCh37/Annotation/Genes/genes.gtf"
			fasta       = "${params.igenomes_base}/Homo_sapiens/Ensembl/GRCh37/Sequence/WholeGenomeFasta/genome.fa"
			chromSizes  = "${params.igenomes_base}/Homo_sapiens/Ensembl/GRCh37/Sequence/WholeGenomeFasta/GenomeSize.xml"
			blacklist   = "${projectDir}/assets/blacklists/GRCh37-blacklist.v2.bed"
		}
		'GRCh38' {
			star        = "${params.igenomes_base}/Homo_sapiens/NCBI/GRCh38/Sequence/STARIndex/"
			bowtie2     = "${params.igenomes_base}/Homo_sapiens/NCBI/GRCh38/Sequence/Bowtie2Index/"
			gtf         = "${params.igenomes_base}/Homo_sapiens/NCBI/GRCh38/Annotation/Genes/genes.gtf"
			fasta       = "${params.igenomes_base}/Homo_sapiens/NCBI/GRCh38/Sequence/WholeGenomeFasta/genome.fa"
			chromSizes  = "${params.igenomes_base}/Homo_sapiens/NCBI/GRCh38/Sequence/WholeGenomeFasta/GenomeSize.xml"
			blacklist   = "${projectDir}/assets/blacklists/GRCh38-blacklist.v2.bed"
		}
		'hg19' {
			star        = "${params.igenomes_base}/Homo_sapiens/UCSC/hg19/Sequence/STARIndex/"
			bowtie2     = "${params.igenomes_base}/Homo_sapiens/UCSC/hg19/Sequence/Bowtie2Index/"
			gtf         = "${params.igenomes_base}/Homo_sapiens/UCSC/hg19/Annotation/Genes/genes.gtf"
			fasta       = "${params.igenomes_base}/Homo_sapiens/UCSC/hg19/Sequence/WholeGenomeFasta/genome.fa"
			chromSizes  = "${params.igenomes_base}/Homo_sapiens/UCSC/hg19/Sequence/WholeGenomeFasta/GenomeSize.xml"
			blacklist   = "${projectDir}/assets/blacklists/hg19-blacklist.v2.bed"
		}
		'hg38' {
			star        = "${params.igenomes_base}/Homo_sapiens/UCSC/hg38/Sequence/STARIndex/"
			bowtie2     = "${params.igenomes_base}/Homo_sapiens/UCSC/hg38/Sequence/Bowtie2Index/"
			gtf         = "${params.igenomes_base}/Homo_sapiens/UCSC/hg38/Annotation/Genes/genes.gtf"
			fasta       = "${params.igenomes_base}/Homo_sapiens/UCSC/hg38/Sequence/WholeGenomeFasta/genome.fa"
			chromSizes  = "${params.igenomes_base}/Homo_sapiens/UCSC/hg38/Sequence/WholeGenomeFasta/GenomeSize.xml"
			blacklist   = "${projectDir}/assets/blacklists/hg38-blacklist.v2.bed"
		}
		'GRCm38' {
			star        = "${params.igenomes_base}/Mus_musculus/NCBI/GRCm38/Sequence/STARIndex/"
			bowtie2     = "${params.igenomes_base}/Mus_musculus/NCBI/GRCm38/Sequence/Bowtie2Index/"
			gtf         = "${params.igenomes_base}/Mus_musculus/NCBI/GRCm38/Annotation/Genes/genes.gtf"
			fasta       = "${params.igenomes_base}/Mus_musculus/NCBI/GRCm38/Sequence/WholeGenomeFasta/genome.fa"
			chromSizes  = "${params.igenomes_base}/Mus_musculus/NCBI/GRCm38/Sequence/WholeGenomeFasta/GenomeSize.xml"
			blacklist   = "${projectDir}/assets/blacklists/GRCm38-blacklist.v2.bed"
		}
		'mm10' {
			star        = "${params.igenomes_base}/Mus_musculus/UCSC/mm10/Sequence/STARIndex/"
			bowtie2     = "${params.igenomes_base}/Mus_musculus/UCSC/mm10/Sequence/Bowtie2Index/"
			gtf         = "${params.igenomes_base}/Mus_musculus/UCSC/mm10/Annotation/Genes/genes.gtf"
			fasta       = "${params.igenomes_base}/Mus_musculus/UCSC/mm10/Sequence/WholeGenomeFasta/genome.fa"
			chromSizes  = "${params.igenomes_base}/Mus_musculus/UCSC/mm10/Sequence/WholeGenomeFasta/GenomeSize.xml"
			blacklist   = "${projectDir}/assets/blacklists/mm10-blacklist.v2.bed"
		}
		'mm9' {
			star        = "${params.igenomes_base}/Mus_musculus/UCSC/mm9/Sequence/STARIndex/"
			bowtie2     = "${params.igenomes_base}/Mus_musculus/UCSC/mm9/Sequence/Bowtie2Index/"
			gtf         = "${params.igenomes_base}/Mus_musculus/UCSC/mm9/Annotation/Genes/genes.gtf"
			fasta       = "${params.igenomes_base}/Mus_musculus/UCSC/mm9/Sequence/WholeGenomeFasta/genome.fa"
			chromSizes  = "${params.igenomes_base}/Mus_musculus/UCSC/mm9/Sequence/WholeGenomeFasta/GenomeSize.xml"
			blacklist   = "${projectDir}/assets/blacklists/mm9-blacklist.bed"
		}
		'ce10' {
			star        = "${params.igenomes_base}/Caenorhabditis_elegans/UCSC/ce10/Sequence/STARIndex/"
			bowtie2     = "${params.igenomes_base}/Caenorhabditis_elegans/UCSC/ce10/Sequence/Bowtie2Index/"
			gtf         = "${params.igenomes_base}/Caenorhabditis_elegans/UCSC/ce10/Annotation/Genes/genes.gtf"
			fasta       = "${params.igenomes_base}/Caenorhabditis_elegans/UCSC/ce10/Sequence/WholeGenomeFasta/genome.fa"
			chromSizes  = "${params.igenomes_base}/Caenorhabditis_elegans/UCSC/ce10/Sequence/WholeGenomeFasta/GenomeSize.xml"
			blacklist   = "${projectDir}/assets/blacklists/ce10-blacklist.v2.bed"
		}
		'dm6' {
			star        = "${params.igenomes_base}/Drosophila_melanogaster/UCSC/dm6/Sequence/STARIndex/"
			bowtie2     = "${params.igenomes_base}/Drosophila_melanogaster/UCSC/dm6/Sequence/Bowtie2Index/"
			gtf         = "${params.igenomes_base}/Drosophila_melanogaster/UCSC/dm6/Annotation/Genes/genes.gtf"
			fasta       = "${params.igenomes_base}/Drosophila_melanogaster/UCSC/dm6/Sequence/WholeGenomeFasta/genome.fa"
			chromSizes  = "${params.igenomes_base}/Drosophila_melanogaster/UCSC/dm6/Sequence/WholeGenomeFasta/GenomeSize.xml"
			blacklist   = "${projectDir}/assets/blacklists/dm6-blacklist.v2.bed"
		}
	}
}
