process {
    resourceLimits = [
        memory: 1800.GB,
        cpus: 36,
        time: 30.d
    ]
    executor       = 'slurm'
    queue          = { task.memory <= 500.GB ? 'basic' : 'himem' }
    clusterOptions = { task.queue == 'basic' & task.time <= 6.h ? '--qos short' : '--qos basic' }
}

apptainer {
    enabled = true
}

params.igenomes_base     = '/lisc/project/menche/reference/'
