profiles {
  lisc {
    process {
      resourceLimits = [
        memory: 1800.GB,
        cpus: 36,
        time: 30.d
      ]
      executor       = 'slurm'
      queue          = { task.memory <= 500.GB ? 'basic' : 'himem' }
      clusterOptions = { (task.queue == 'basic' & task.time <= 6.h ? '--qos 'short' : '--qos 'basic') }
    }

    params {
      params.max_time   = 30.d
      params.max_cpus   = 36
      params.max_memory = 1800.GB
      igenomes_base     = '/resources/references/igenomes'
    }
  }
}
