
process {
    withName: 'FILTER_ALIGNMENTS' {
        publishDir = [
            path: "${params.outdir}/alignments/",
            mode: 'copy',
            overwrite: 'true',
            pattern: "*bam",
            enabled: params.saveQfilteredAlignments
        ]
    }
    withName: 'FILTER_MASKED_REGIONS' {
        publishDir = [
            path: "${params.outdir}/alignments/",
            mode: 'copy',
            overwrite: 'true',
            pattern: "*bam",
        ]
    }
    withName: 'SORT_BED' {
        publishDir = [
            path: "${params.outdir}/clusterbed/",
            mode: 'copy',
            overwrite: 'true',
            pattern: "*bed",
        ]
    }
    withName: 'MAKE_PAIRIX' {
        publishDir = [
            path: "${params.outdir}/pairs/",
            mode: 'copy',
            overwrite: 'true',
            pattern: "*pairs.blksrt.gz*",
            enabled: params.savePairs
        ]
    }
    withName: 'MERGE_CLUSTER_COOLERS' {
        publishDir = [
            path: "${params.outdir}/cool/base/",
            mode: 'copy',
            overwrite: 'true',
            pattern: "*cool",
        ]
    }
    withName: 'BALANCE_MCOOL' {
        publishDir = [
            path: "${params.outdir}/cool/balanced/",
            mode: 'copy',
            overwrite: 'true',
            pattern: "*mcool"
        ]        
    }
    withName: 'ANNOTATE_COOLERS' {
        publishDir = [
            path: "${params.outdir}/cool/annotations/",
            mode: 'copy',
            overwrite: 'true',
            pattern: "*tsv.gz",
        ]        
    }
    withName: 'MULTIQC' {
        publishDir = [
            path: "${params.outdir}/multiqc/",
            mode: 'copy',
            overwrite: 'true'
        ]        
    }
}
