
process {
    withName: 'FILTER_ALIGNMENTS' {
        publishDir = [
            path: "${params.outdir}/alignments/",
            mode: 'copy',
            overwrite: 'true',
            pattern: "*bam",
        ]
    }
    withName: 'SORT_BED' {
        publishDir = [
            path: "${params.outdir}/clusterbed/",
            mode: 'copy',
            overwrite: 'true',
            pattern: "*bed",
        ]
    }
    withName: 'MAKE_PAIRIX' {
        publishDir = [
            path: "${params.outdir}/pairs/",
            mode: 'copy',
            overwrite: 'true',
            pattern: "*pairs.blksrt.gz*",
        ]
    }
    withName: 'MERGE_CLUSTER_COOLERS' {
        publishDir = [
            path: "${params.outdir}/cool/clustercool/",
            mode: 'copy',
            overwrite: 'true',
            pattern: "*mcool",
        ]
    }
    withName: 'MERGE_REPLICATE_COOLERS' {
        publishDir = [
            path: "${params.outdir}/cool/basecool/",
            mode: 'copy',
            overwrite: 'true',
            pattern: "*cool",
        ]
    }
    withName: ANNOTATE_COOLERS {
        publishDir = [
            path: "${params.outdir}/annotatedcool/",
            mode: 'copy',
            overwrite: 'true',
            pattern: "*mcool",
        ]        
    }
}
