
process {
    withName: 'BOWTIE2_ALIGN' {
        publishDir = [
            path: "${params.outdir}/alignments/",
            mode: 'copy',
            overwrite: 'true',
            pattern: "*sam",
        ]
    }

    // withName: 'MAKE_PAIRIX' {
    //     publishDir = [
    //         path: "${params.outdir}/pairs/",
    //         mode: 'copy',
    //         overwrite: 'true',
    //         pattern: "*pairs.blksrt.gz*",
    //     ]
    // }
}
